<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.glory.modules.generate.mapper.GenTableFieldMapper">

    <select id="getTableField" parameterType="top.glory.modules.generate.entity.GenTableInfo" resultType="top.glory.modules.system.entity.SysTableField">
        select
            table_name as tableName,
            column_name as columnName,
            ordinal_position as ordinalPosition,
            data_type as dataType,
            column_type as columnType,
            column_comment as columnComment
        from information_schema.COLUMNS
            where TABLE_SCHEMA = (select database()) and TABLE_NAME= #{tableName}
    </select>
</mapper>
